@mixin for-phone-only {
	@media (max-width: 350px) {
		@content;	
	}	
}

.wrapper {
  cursor: pointer;
  min-height: 79.33px;
  padding: 0;
  padding-top: 20px;
}

.container {
  font-family: Gilroy;

  & * {
    font-family: inherit !important;
  }

  &_second {
    margin-top: 10px;
  }
}

.icon {
  height: 32px;
  width: 32px;

  &_first {
    margin-right: 12px;

    @include for-phone-only {
      margin-right: 0;
    }
  }

  &_close {
    height: 11px;;
  }

  &_copy {
    height: 14px;
  }

  &_white {
    fill: #fff;
  }
}

.content {
  margin-left: 15px;
}

.header {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  line-height: normal;

  @include for-phone-only {
    font-size: 16px;
  }
}

.subheader {
  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
}

.amount {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 400;
  margin-left: auto;
  word-break: break-all;

  @include for-phone-only {
    font-size: 16px;
  }
}

.btn {
  width: 30px;
  height: 30px;
  background: #3569F0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 5px;

  &_first {
    margin-right: 14px;
  }
}