.bottomBtnsWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.network_select {
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  font-size: 26px;
  font-weight: unset;
}

.send_inputs2 {
  //margin-top:16px;
  //margin-left:12px;
  //margin-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;

}

.recipient_wrapper2 {
  height: 122px;
  border-radius: 24px;
  border: 1px solid black;
  margin-top: 40px;
  padding: 20px;

}

@media screen and (max-width: 350px) {

  .send_inputs2 {
    margin-top: 0;

  }

  .recipient_wrapper2 {
    height: 80px;
  }
}
