.swap {
  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    border-radius: 13px;
    margin: 30px auto;
    position: relative;
    z-index: 1;
  }

  &-rate {
    text-align: center;
    margin: 40px 0 0;
    color: var(--popup-title-color);

    span {
      font-weight: 700;
      color: var(--icons-color);
    }
  }
}