.orders__price_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8%;
}

.orders__input {
  min-width: 226px;
  min-height: 45px;
  max-width: 226px;
  max-height: 45px;
  border: 2px solid var(--input-border-color);
  background: linear-gradient(92.91deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 109.76%);
  backdrop-filter: blur(100px);
  border-radius: 8px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: var(--search-input-text-color);

  &:focus {
    outline: none;
  }
}

.btn {
  &.orders {
    height: 59px;
    min-width: 179px;
    display: flex;
    background: rgba(53, 105, 240, 0.72);
    box-shadow: 0px 14px 44px rgba(69, 88, 255, 0.23);
    border-radius: 11px;
    justify-content: center;
    align-items: center;
  }
}

.orders__icon_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



@media screen and (max-width: 1025px) {
  .orders__price_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .orders__icon_box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}