.Stacking {
  margin-top: 50px;
}

.Staking__text {
  font-size:19px !important;
  //font-size: 1.5rem !important;
  &.program {
    min-width: 45%;
    max-width: 45%;
  }
  &.term {
    min-width: 35%;
    max-width: 35%;
  }
  &.apy {
    min-width: 14%;
    max-width: 14%;
    text-align: end;
  }
}

.Stacking__block_header {

}

.Stacking__nft_ready_block {
  border-radius: 24px;
  padding: 39px 12px;
  border-color: #343434;

  .yes {
    border-color: #53e514;
  }
}

.Stacking__nft_ready_text {
  border-color: #343434;

  .yes {
    border-color: #53e514;
  }
}

.Stacking__table {
  width: 100%;
  border: 0px transparent solid;
  border-collapse: collapse;

  thead {
    th {
      text-align: start;
      padding-bottom: 26px;
      padding-left: 16px;

    }
  }

  tbody {
    tr {
      background: linear-gradient(92.91deg, rgba(0, 0, 0, 0.0198) 0%, rgba(0, 0, 0, 0) 109.76%);
      backdrop-filter: blur(100px);
      border-radius: 24px;

    }

    td {
      padding: 39px 16px;
      font-weight: bold;

    }
  }
}

.Stacking__calculator_deposit_term_text {
  font-weight: 500;
  font-size: 15px;
  color: #757575;

  &.end {
    text-align: end;
  }
}

.Stacking__calculator_programs_box {
  background: linear-gradient(92.91deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 109.76%);
  border-radius: 24px;
  border: 2px solid var(--input-border-color);
}

.Stacking__calculator_box {
  background: linear-gradient(92.91deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 109.76%);
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--input-border-color);
  margin-top:20px;
}

.Stacking__calculator_text {
  font-weight: 700;
  color: #41444E;
}

.program_block_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.program_item_wrapper {
  border: 2px solid var(--input-border-color);
  border-radius: 24px;
  height: 86px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
.program_item_wrapper_head{
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  //justify-content: space-around;
  width: 100%;
  margin-top: 30px;
  margin-left: 6%;
  font-size: 1.5rem;
}
.fontSty{
  font-family: Archivo;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.05em;
  text-align: left;

}
.headerTitleFix {margin: auto}

.Stacking__program {
  font-weight: bold;
  width: 35%;
}

.Stacking__term {
  font-weight: bold;
  width: 31%;
}
.Stacking__apy {
  font-weight: bold;
  width: auto;
}

.Stacking__calculate_button {
  width: 100px;
}

//16 45
//38 22

.Stacking__program_data_block {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 17px;
}

@media screen and (max-width: 1025px) {
  .Stacking__calculate_button {
    width: 0;
  }
  .Stacking__program {
    font-weight: bold;
    width: auto;
    padding-left: 16px;
  }

  .Stacking__program_data_block {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 15px;
    margin-left: unset;
  }

  .Stacking__term {
    font-weight: bold;
    width: auto;
  }
  .Stacking__apy {
    font-weight: bold;
    padding-right: 16px;
    width: auto;
  }

  .program_item_wrapper_head {
    font-size: 16px;
    margin-left: 0;
    justify-content: space-between;
  }
  .program_item_wrapper {
    flex-direction: column;
    height: auto;
  }
  //.Staking__text {
  //  text-align: center;
  //  font-size: 16px !important;
  //  &.program {
  //    min-width: unset;
  //    max-width: unset;
  //  }
  //  &.term {
  //    min-width: unset;
  //    max-width: unset;
  //  }
  //  &.apy {
  //    min-width: unset;
  //    max-width: unset;
  //  }
  //}
}
