.recipient_wrapper {
  height: 122px;
  border-radius: 24px;
  border: 1px solid black;
  margin-top: 40px;
  padding: 20px;
}

.recipient_wrapper_error {
  border-color: var(--error);
}

.recipient_input {
  font-weight: bold;
  //CSS:reset;
  margin-top: 16px;
  background: none;
  border: none;
  font-size: 40px;
  outline: 0;
  outline-offset: 0;
  width: 95%;
  color: #333333;
}

.amount_wrapper {
  padding: 20px;
  display: flex;
  font-size: 20px;
  height: 122px;
  border-radius: 24px;
  border: 1px solid black;
  margin-top: 40px;
}

.amount_wrapper_error {
  border-color: var(--error);
}

.amount_input {
  color: #626262;
  font-weight: bold;
  margin-top: 16px;
  background: none;
  border: none;
  font-size: 40px;
  outline: 0;
  outline-offset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send_inputs {
  //margin-top:16px;
  //margin-left:12px;
  //margin-right: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.send_text_headers {
  cursor: pointer;
  //margin-top:20px;
  //margin-left:12px;
}

.btn_wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.amount_left_block {
  width: 64%;
}

.send_change_token {
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width: 63%;
}

.send_max_btn {
  cursor: pointer;
  background: #3569F066;
  color: #3569F0;
  border-radius: 12px;
  width: 52px;
  height: 33px;
  font-style: normal;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send_set_token_wrap {
  font-weight: bold;
  display: flex;
  justify-content: space-between;

  &.column {
  }

  align-items: center;
}

.send_balance {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;

  &.center {

  }
}

.receive_balance {
  display: flex;
  justify-content: flex-end;
  color: #626262;
  font-weight: bold;
  font-size: 40px;
  align-items: center;
}

.send_arrow_bottom_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}


.send_img_wrapper {
  justify-content: space-around;
  width: 100%;
  margin-left: 3px;
  display: flex;
  align-items: center;
}

.send_token_img {
  width: 32px;
  height: 32px;
}

.send_token_symbol {
  font-size: 26px;
  font-weight: bold;
}

.amount_right_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.send_select_wrap {
  width: 100%;
  height: 100%;
  align-items: flex-end;
  display: flex;
}

.send_select_btn {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  border-radius: 18px;
  align-items: center;
  height: 50px;
  background: #3569F0;
  color: #FFFFFF;
  flex-direction: row;
  width: 100%;
  padding: 17px;

  &:hover {
    background-color: var(--accent-hover);
  }
}

.send_set_token {
  font-weight: bold;

}

.closeBtn_send {
  cursor: pointer;
}

.send_copy_address {
  display: none;
}

@media screen and (max-width: 1025px) {
  .additionalWidth {
    width: 0;
  }

  .recipient_input {

  }
  .amount_left_block {
    width: 100%;
  }
  .send_copy_address {
    display: flex;
  }
  .amount_input {
    width: 100%;
  }
  .amount_wrapper {
    height: auto;
    flex-direction: column;
  }
  .amount_right_block {
    margin-top: 10px;
  }
  .send_set_token_wrap {
    justify-content: unset;

    &.column {
      flex-direction: column;

      .send_max_btn {
        margin-top: 10px;
        order: 2;
        width: 100%;
      }

      .send_change_token {
        width: unset;
      }
    }
  }
  .send_change_token {
    justify-content: unset;
  }
  .send_img_wrapper {
    width: unset;
    margin-left: unset;
    margin-right: 5px;
  }
  .send_balance {
    &.asset {
      display: none;
    }

    &.center {
      justify-content: center;
    }
  }
  .recipient_input {
    width: 100%;
  }
  .amount_left_block {
    display: flex;
    flex-direction: column;
  }
  .receive_balance {
    font-size: 20px;
  }
}

@media screen and (max-width: 350px) {

  .recipient_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80px;
    padding: 15px;
  }

  .receive_balance {
    font-size: 16px;
  }
  .send_text_headers {
    font-size: 16px;
  }
  .amount_wrapper {
    height: 80px;
    padding: 15px;
  }
  .send_inputs {
    width: 100%;
    height: 20px;
  }
  .amount_input {
    font-size: 24px;
    margin-left: 2px;
  }
  .recipient_input {
    font-size: 24px;
    margin-top: 0;
    width: 157px;
  }
  .closeBtn_send {
    width: 24px;

  }
  .send_select_btn {
    border-radius: 12px;
    height: 35px;
    padding: 15px
  }
  .send_arrow_bottom_wrapper {
    width: 5px;
    height: 10px;
  }
  .send_set_token {
    width: 58%;
    height: 28px;
    font-size: 12px;
  }
  .amount_left_block {
    width: 53%;
  }
  .send_balance {
    font-size: 16px;
  }
  .send_max_btn {
    width: 36px;
    height: 24px;
    font-size: 11px;
  }
  .send_token_symbol {
    font-size: 16px;
  }
  .send_token_img {
    width: 24px;
  }
  .add_width {
    width: 12px
  }
  .send_set_token_wrap {
    margin-left: -12px;
  }
}

.additionalWidth {
  width: 52px;
}