.confirm-subtitle {
  font-weight: 700;
  font-size: 30px;
}

.swap-confirm-block {
  justify-content: space-between;
}

.swap-confirm-wrap-staking {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.fixFlex{
  display:flex;
  align-items: center;
}
