.enterSPBox {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.enterSPContent {
}

.enterSPRegBox {
  justify-content: space-between;
}

.select {
  &-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(92.91deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 109.76%);
    backdrop-filter: blur(30px);
    z-index: 10;
    overflow: auto;

    & .loader {
      display: flex;
      margin: 0 auto;
    }

    .mainblock {
      &.center {

      }
      position: fixed;
    }
  }

  &-list {
    margin-top: 30px;
    overflow: auto;
    max-height: 450px;
    margin-right: -32px;
    padding-right: 26px;

    /* width */
    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background-color: var(--select-scrollbar-bg-color);
      border-radius: 30px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background-color: var(--accent);
      border-radius: 30px;
    }
  }
}

@media screen and (max-width: 1025px) {
  .select {
    &-wrapper {
      .mainblock {
        top: 50%;
        transform: translateY(-50%);
        max-height: fit-content;

        &.big {
          top: 0;
          transform: none;
        }
      }
    }

    &-list {
      margin-right: -20px;
      padding-right: 11px;
    }
  }
}

@media screen and (max-width: 481px) {
  .select {
    &-list {
      max-height: calc(100% - 100px);
      margin-right: -20px;
      padding-right: 12px;
    }
  }
}
@media screen and (max-width: 400px) {
  .enterSPBox {
    flex-direction: column
  }

  .enterSPContent {
    flex-direction: column;
  }

  .enterSPRegBox {
    justify-content: center;
  }

  .fixheight {
    height: auto
  }
  .fixFontSize{
    font-size: 16px;
  }
}

.fixheight {
}
.fixFontSize{
}
